.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background: #363a3f;
  height: 100vh;

  .chat__messages {
    flex: 1;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 20px;
    border-top: 1px solid gray;
    border-radius: 5px;
    background: #474b53;

    form {
      display: flex;
      flex: 1;
      justify-content: space-between;
      input {
        flex: 1;
        padding: 15px;
        background: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: large;
      }
      button {
        display: none;
      }
    }

    .MuiSvgIcon-root {
      padding: 5px;
      transition: 0.4s all ease;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
}
